// 重置ui框架css
.el-header {
  padding: 0 !important;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
}
.el-main {
  margin-top: 60px;
  padding: 0;
}
.el-aside {
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  ul {
    height: 100%;
  }
}

.el-menu-item.is-active {
  color: #fff;
  background: #0397ff;
}
.is-opened {
  .el-menu--inline {
    background: #f6f3f3;
  }
}

.demo-form-inline {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 22px;
}

.el-form--inline .el-form-item {
  margin-right: 20px;
  margin-bottom: 0;
}
.el-dialog__body {
  padding: 10px 20px;
}

.list {
  .el-image__error {
    font-size: 12px;
  }
}
